body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
}

/* Map Custom CSS */
.map {
  height: 80%;
}

/* Material Icon CSS */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
